In [1]:
%matplotlib inline

In [2]:
from ipywidgets import FloatProgress
from IPython.display import display

In [3]:
import pandas as pd
import fuzzywuzzy.process as fwp

In [4]:
mfg_firm = pd.read_csv('../data/MfgFirm.csv')

In [5]:
mfg_firm.size

17976

In [9]:
mfg_firm.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>RecallID</th>
      <th>RecallNumber</th>
      <th>MfgFirm</th>
      <th>caseID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8223</td>
      <td>18073</td>
      <td>Western Gas Partners LP, of The Woodlands, Texas</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8221</td>
      <td>18711</td>
      <td>HealthPostures LLC, Prior Lake, Minn.</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8220</td>
      <td>18069</td>
      <td>Rocky Mountain Bicycles, of Canada</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8218</td>
      <td>18710</td>
      <td>Golden Chang, of China</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8219</td>
      <td>18071</td>
      <td>Golden Forest, of Vietnam</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
us_company_codes = pd.read_excel('../data/All US Company codes in COMPUSTAT.xlsx')

In [11]:
us_company_codes.size

1437360

In [10]:
us_company_codes.head()

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,Ticker Symbol,CUSIP,Company Name,ISO Currency Code,CIK Number,Active/Inactive Status Marker,Current ISO Country Code - Incorporation,County Code
0,1004,05/31/2010,2009.0,INDL,C,D,STD,AIR,361105,AAR CORP,USD,1750.0,A,USA,NaN
1,1004,05/31/2011,2010.0,INDL,C,D,STD,AIR,361105,AAR CORP,USD,1750.0,A,USA,NaN
2,1004,05/31/2012,2011.0,INDL,C,D,STD,AIR,361105,AAR CORP,USD,1750.0,A,USA,NaN
3,1004,05/31/2013,2012.0,INDL,C,D,STD,AIR,361105,AAR CORP,USD,1750.0,A,USA,NaN
4,1004,05/31/2014,2013.0,INDL,C,D,STD,AIR,361105,AAR CORP,USD,1750.0,A,USA,NaN

In [11]:
mfg_firm_names = mfg_firm[['MfgFirm']]
mfg_firm_names.head()

                                            MfgFirm
0  Western Gas Partners LP, of The Woodlands, Texas
1             HealthPostures LLC, Prior Lake, Minn.
2                Rocky Mountain Bicycles, of Canada
3                            Golden Chang, of China
4                         Golden Forest, of Vietnam

In [12]:
company_codes__no_duplicates = us_company_codes[['Company Name']].drop_duplicates(keep='last')
company_codes__no_duplicates.head()

                    Company Name
7                       AAR CORP
8     ADC TELECOMMUNICATIONS INC
16   AMERICAN AIRLINES GROUP INC
23       CECO ENVIRONMENTAL CORP
39  ASA GOLD AND PRECIOUS METALS

In [13]:
company_names = list(set(company_codes__no_duplicates['Company Name']))
len(company_names)

15989

In [14]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [15]:
fuzz.token_sort_ratio('Western Gas Partners LP, of The Woodlands, Texas', 'WESTERN GAS PARTNERS LP')

67

In [17]:
name = 'Western Gas Partners LP, of The Woodlands, Texas'
process.extractOne(name, company_names)

('WESTERN GAS PARTNERS LP', 90)

In [18]:
name = 'HealthPostures LLC, Prior Lake, Minn.'
process.extractBests(name, company_names)

[('LIN MEDIA LLC', 86),
 ('GYRODYNE LLC', 86),
 ('CITYCENTER HOLDINGS LLC', 86),
 ('JEFFERIES GROUP LLC', 86),
 ('CHRYSLER GROUP LLC', 86)]

In [40]:
f = FloatProgress(min=0, max=mfg_firm_names.size)
display(f)

FUZZYWUZZY_THREASHOLD = 90


mapping = dict()
for row in mfg_firm_names.iterrows():
    mfg_firm_name = row[1]['MfgFirm']
    
    # fuzzywuzzy match with company_names
    company_name, score = process.extractOne(mfg_firm_name, company_names)
    mapping[mfg_firm_name] = (company_name, score) if score >= FUZZYWUZZY_THREASHOLD else (None, score)
    
    f.value += 1

FloatProgress(value=0.0, max=4494.0)

In [41]:
mapping

{'Western Gas Partners LP, of The Woodlands, Texas': ('WESTERN GAS PARTNERS LP',
  90),
 'HealthPostures LLC, Prior Lake, Minn.': (None, 86),
 'Rocky Mountain Bicycles, of Canada': (None, 86),
 'Golden Chang, of China': (None, 86),
 'Golden Forest, of Vietnam': (None, 86),
 'American Honda Motor Company Inc., of Torrance, Calif.': (None, 86),
 'Deere & Company, of Moline, Ill.': ('DEERE & CO', 90),
 'Yueqing City Island Fiber Optic Christmas Tree Plant, of China': (None, 86),
 'Polaris Industries Inc., of Medina, Minn.': ('POLARIS INDUSTRIES INC', 90),
 'Manu Changzhou Future International Business Mafacturer, from China': (None,
  86)}

In [37]:
def set_company_name(row):
    mfg_firm_name = row.MfgFirm
    return mapping[mfg_firm_name]
        
mfg_firm['company_name'] = mfg_firm.apply(set_company_name, axis=1)

KeyError: ('ABEST Technology Co., Ltd., of China', 'occurred at index 10')

In [35]:
mfg_firm

,RecallID,RecallNumber,MfgFirm,caseID,company_name
0,8223,18073,"Western Gas Partners LP, of The Woodlands, Texas",1,WESTERN GAS PARTNERS LP
1,8221,18711,"HealthPostures LLC, Prior Lake, Minn.",2,LIN MEDIA LLC
2,8220,18069,"Rocky Mountain Bicycles, of Canada",3,BANK OF MARIN BANCORP
3,8218,18710,"Golden Chang, of China",4,CHINA FUND INC
4,8219,18071,"Golden Forest, of Vietnam",5,BANK OF MONTREAL
5,8216,18072,"American Honda Motor Company Inc., of Torrance...",6,NORBORD INC
6,8215,18709,"Deere & Company, of Moline, Ill.",7,DEERE & CO
7,8212,18707,Yueqing City Island Fiber Optic Christmas Tree...,8,CHINA LODGING GROUP LTD -ADR
8,8213,18708,"Polaris Industries Inc., of Medina, Minn.",9,POLARIS INDUSTRIES INC
9,8211,18066,Manu Changzhou Future International Business M...,10,VANGUARD TOTAL INTERNATIONAL
10,8210,18065,"ABEST Technology Co., Ltd., of China",11,COATES INTERNATIONAL LTD
11,8205,18059,"Transparent Overseas, of India",12,INDIA FUND INC
12,8206,18061,"WS and Co., of Canada",13,SOUTHERN CO
13,8203,18058,"Dream On Me, of Piscataway, N.J.",14,F N B CORP/FL
14,8204,18705,"Deere & Company, of Moline, Ill.",15,DEERE & CO
15,8202,18057,"Venatics Inc. and Ravin Crossbows LLC., of Sup...",16,NORBORD INC
16,8199,18053,"Metabowerke, GmbH, of Germany",17,CPC OF AMERICA INC
17,8196,18051,"Camso Inc., of Quebec, Canada",18,NORBORD INC
18,8193,18049,"Natural Solutions for Life, Inc. of Robinson, ...",19,NORBORD INC
19,8192,18046,"Libbey Glass Inc., of Toledo, Ohio",20,NORBORD INC
20,8187,18041,"Omega Pacific Inc., of Airway Heights, Wash.",21,NORBORD INC
21,8189,18044,"Plycem Construsistemas, of Costa Rica, S.A.",22,SPDR S&P 500 ETF TRUST
22,8185,18702,Sleep Number Corporation (formerly Select Comf...,23,SLEEP NUMBER CORPORATION
23,8183,18037,"Arctic Cat Inc., of Thief River Falls, Minn., ...",24,ARCTIC CAT INC
24,8182,18036,"Bush Hog Inc., of Selma, Ala.",25,NORBORD INC
25,8169,18021,"Dondolo, of Carrollton, Texas",26,AEP TEXAS NORTH CO
26,8168,18020,"Little Mass, a Mass Creation, Inc. subsidiary,...",27,NORBORD INC
27,8167,18019,"VIV&LUL, of China",28,CHINA LODGING GROUP LTD -ADR
28,8166,18018,"Polaris Industries Inc., of Medina, Minn.",29,POLARIS INDUSTRIES INC
29,8165,18017,"Arctic Cat Inc., of Thief River Falls, Minn., ...",30,ARCTIC CAT INC
...,...,...,...,...,...
4464,4181,8165,Gift Wrap Company,4465,ALKALINE WATER COMPANY INC
4465,4181,8165,Babies R Us,4466,LEGG MASON DEV EX-US DIVERS
4466,4178,8161,A.O. Smith,4467,DILLARDS INC -CL A
4467,4178,8161,Air Vent,4468,AIR LEASE CORP
4468,4178,8161,Triangle Engineering,4469,None
4469,4175,8158,TJ Promotions,4470,None
4470,4175,8158,Coastal Federal Credit Union,4471,ELEVATE CREDIT INC
4471,4179,8162,Kash 'N Gold,4472,SILVERADO GOLD MINES LTD
4472,4179,8162,Lowe's,4473,LOWE'S COMPANIES INC
4473,4177,8160,Shims Bargain,4474,OLLIE'S BARGAIN OUTLET HLDGS
4474,4177,8160,BabyTown,4475,None
4475,4176,8159,L G Sourcing,4476,WISDOMTREE CDA Q D G IDX ETF
4476,4176,8159,Field Smart Lighting,4477,None
4477,4176,8159,Lowe's,4478,LOWE'S COMPANIES INC
4478,4174,8157,Intermatic,4479,None
4479,4174,8157,Lowe's,4480,LOWE'S COMPANIES INC
4480,4174,8157,Home Depot,4481,HOME DEPOT INC
4481,4174,8157,Ewig Industries Macao Commercial Offshore,4482,LUFKIN INDUSTRIES INC
4482,4173,8156,Pacific Cycle,4483,ATACAMA PACIFIC GOLD CORP
4483,4173,8156,InStep,4484,None
4484,4173,8156,Schwinn,4485,None
4485,4173,8156,Mongoose,4486,None
4486,4555,8533,RSI Home Products,4487,POWER 3 MEDICAL PRODUCTS INC
4487,4555,8533,Lowe's,4488,LOWE'S COMPANIES INC
4488,4555,8533,Home Depot,4489,HOME DEPOT INC
4489,4555,8533,Estate by RSI,4490,ALLIED PPTYS REAL ESTATE INV
4490,4555,8533,Insignia,4491,INSIGNIA SYSTEMS INC
4491,4555,8533,MasterBath,4492,None
4492,4172,8154,Tricam,4493,None
4493,4172,8154,Tractor Supply,4494,TRACTOR SUPPLY CO

In [62]:
merged = pd.merge(mfg_firm, 
                  us_company_codes,
                  left_on='company_name',
                  right_on='Company Name',
                  suffixes=['_firm_names','_company_codes'],
                  how='left')

,MfgFirm,firm_code,Company Name
0,"Western Gas Partners LP, of The Woodlands, Texas",WESTERN GAS PARTNERS LP,WESTERN GAS PARTNERS LP
1,"HealthPostures LLC, Prior Lake, Minn.",ATLAS ENERGY GROUP LLC,ATLAS ENERGY GROUP LLC
2,"Rocky Mountain Bicycles, of Canada",GENWORTH MI CANADA INC,GENWORTH MI CANADA INC
3,"Golden Chang, of China",CHINA FUND INC,CHINA FUND INC
4,"Golden Forest, of Vietnam",SINO-FOREST CORP,SINO-FOREST CORP
5,"American Honda Motor Company Inc., of Torrance...",BLUCORA INC,BLUCORA INC
6,"Deere & Company, of Moline, Ill.",DEERE & CO,DEERE & CO
7,Yueqing City Island Fiber Optic Christmas Tree...,U S CHINA MINING GROUP INC,U S CHINA MINING GROUP INC
8,"Polaris Industries Inc., of Medina, Minn.",POLARIS INDUSTRIES INC,POLARIS INDUSTRIES INC
9,Manu Changzhou Future International Business M...,MAGNA INTERNATIONAL INC,MAGNA INTERNATIONAL INC
10,NaN,NaN,AAR CORP
11,NaN,NaN,ADC TELECOMMUNICATIONS INC
12,NaN,NaN,AMERICAN AIRLINES GROUP INC
13,NaN,NaN,CECO ENVIRONMENTAL CORP
14,NaN,NaN,ASA GOLD AND PRECIOUS METALS
15,NaN,NaN,AVX CORP
16,NaN,NaN,PINNACLE WEST CAPITAL CORP
17,NaN,NaN,AARON'S INC
18,NaN,NaN,ABBOTT LABORATORIES
19,NaN,NaN,SERVIDYNE INC
20,NaN,NaN,WORLDS INC
21,NaN,NaN,ACETO CORP
22,NaN,NaN,MORGUARD CORP
23,NaN,NaN,ACMAT CORP -CL A
24,NaN,NaN,ACME UNITED CORP
25,NaN,NaN,RELM WIRELESS CORP
26,NaN,NaN,ADAMS DIVERSIFIED EQUITY FD
27,NaN,NaN,ADAMS RESOURCES & ENERGY INC
28,NaN,NaN,ADVANCED MICRO DEVICES
29,NaN,NaN,ASM INTERNATIONAL NV
...,...,...,...
15959,NaN,NaN,TOUCHSTONE GOLD LTD
15960,NaN,NaN,INTL AUTOMOTIVE COMPN -REDH
15961,NaN,NaN,GOLD MOUNTAIN MINING CORP
15962,NaN,NaN,MYCELX TECHNOLOGIES CORP
15963,NaN,NaN,AVIANCA HOLDINGS SA
15964,NaN,NaN,NANO DIMENSION LTD
15965,NaN,NaN,GI DYNAMICS INC
15966,NaN,NaN,TAIWAN LIPOSOME CO LTD
15967,NaN,NaN,LED MEDICAL DIAGNOSTICS INC
15968,NaN,NaN,TAMINCO CORP
15969,NaN,NaN,SUNSHINE OILSANDS LTD
15970,NaN,NaN,FRONTLINE LTD
15971,NaN,NaN,DBV TECHNOLOGIES
15972,NaN,NaN,NORD ANGLIA EDUCATION INC
15973,NaN,NaN,PLATFORM SPECIALTY PRODUCTS
15974,NaN,NaN,CHIPMOS TECHNOLOGIES INC
15975,NaN,NaN,CELYAD SA
15976,NaN,NaN,CARACAL ENERGY INC
15977,NaN,NaN,SCORPIO BULKERS
15978,NaN,NaN,ALLEGION PLC
15979,NaN,NaN,AGILITY HEALTH INC
15980,NaN,NaN,NORDIC AMERICAN OFFSHORE
15981,NaN,NaN,DORIAN LPG LTD
15982,NaN,NaN,NOMAD FOODS LTD
15983,NaN,NaN,ARGEN-X SE
15984,NaN,NaN,ATHENE HOLDING LTD
15985,NaN,NaN,MIDATECH PHARMA PLC
15986,NaN,NaN,NYX GAMING GROUP LTD
15987,NaN,NaN,MOTIF BIO PLC
15988,NaN,NaN,ABCANN GLOBAL CORP